body{
	background-color: hsl(226, 43%, 10%);
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik-light';
	src: url('../fonts/Rubik-Light.ttf') format('truetype');
}

p{
	font-family: 'Rubik';
}

h1{
	font-family:'Rubik';
	margin-top: 0px;
	color: white;
}

h3{
	font-family:'Rubik';
}

h4{
	font-family:'Rubik';
}

.col-4{
	display: grid;
	justify-content: center;
	align-items: center;
}

.profile{
	background-color: hsl(246, 80%, 60%);
	padding-left: 40px;
	padding-top: 40px;
	width: 300px;
	padding-bottom: 60px;
	border-radius: 20px;
	height: 100%;
}

.legend{
	margin-top: 40px;
	margin-bottom: 0px;
	color: hsl(235, 45%, 61%);
	font-size: 16pt;
}

.options{
	display: grid;
	background-color: hsl(235, 46%, 20%);
	padding-left: 40px;
	border-radius: 0px 0px 20px 20px;
	height: 100%;
	padding-top: 20px;
	padding-left: 40px;
}

.mode{
	color: hsl(235, 45%, 61%);
}

/* Cards */

.card-options{
	display: flex;
}

.more{
	margin-left: 50%;
	width: 30px;
	margin-bottom: 15px;
}

.title{
	font-size: 20px;
	color: hsl(236, 100%, 87%);
}

.current{
	color: hsl(236, 100%, 87%);
	font-weight:lighter;
	font-family: 'Rubik-Light';
	font-size: 38pt;
	margin-bottom: 0px;
}

.previous{
	color: hsl(235, 45%, 61%);
	font-size: 14pt;
	margin-top: 0px;
}

.card{
	padding-top: 20px;
	padding-bottom: 0px;
	border-radius: 20px 20px 20px 20px;
	background-color: hsl(235, 46%, 20%);
	padding-left: 30px;
}

.details{
	border-radius: 20px 20px 0px 0px;
	/* color: hsl(235, 45%, 61%);
	color: hsl(236, 100%, 87%);
	color: hsl(235, 46%, 20%);
	color: hsl(246, 80%, 60%); */
	overflow: hidden;
	padding-top: 20px;
}

.img-icon{
	width: 60px;
	margin-left: 70%;
	margin-top: -35px;
	margin-bottom: -30px;
}