body{
	background-color: hsl(226, 43%, 10%);
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik-light';
	src: url('../fonts/Rubik-Light.ttf') format('truetype');
}

p{
	font-family: 'Rubik';
}

h1{
	font-family:'Rubik';
	margin-top: 0px;
	color: white;
}

h3{
	font-family:'Rubik';
}

h4{
	font-family:'Rubik';
}

.nav-link{
	color: hsl(235, 45%, 61%);
	width: fit-content;
	margin-left: 20px;
}

.nav-link:focus{
	color: aliceblue;
}

.col-4{
	display: grid;
	justify-content: end;
	align-items: center;
}

.profile{
	background-color: hsl(246, 80%, 60%);
	border-radius: 20px 20px 20px 20px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 80px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.legend{
	margin-top: 40px;
	margin-bottom: 0px;
	color: hsl(236, 100%, 87%);
	font-size: 16pt;
}

.menu{
	background-color: hsl(235, 46%, 20%);
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.options{
	padding-left: 20px;
}

/* Cards */

.card-options{
	display: flex;
	align-items: center;
}

.more{
	height: 5px;
	margin-top: 10px;
}

.title{
	font-size: 20px;
	color: hsl(236, 100%, 87%);
	width: auto;
}

.current{
	color: hsl(236, 100%, 87%);
	font-weight:lighter;
	font-family: 'Rubik-Light';
	font-size: 38pt;
	margin-bottom: 0px;
	padding-left: 20px;
}

.previous{
	color: hsl(235, 45%, 61%);
	font-size: 14pt;
	margin-top: 0px;
	padding-left: 20px;
}

.card{
	padding-top: 20px;
	padding-bottom: 0px;
	border-radius: 20px 20px 20px 20px;
	background-color: hsl(235, 46%, 20%);
	padding-bottom: 10px;
}

.details{
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	padding-top: 20px;
}

.img-icon{
	width: 60px;
	margin-left: 70%;
	margin-top: -35px;
	margin-bottom: -30px;
}