<!doctype html>
<html lang="pt-br">

	<%- include('../partials/head', {pagina: 'time tracking'}) %>
	<body>
		<header></header>
		<main>

			<div class="container" style="padding-top: 100px;">
				<div class="row">
					<div class="col-4" style="background-color: cadetblue;">
						<div class="profile">
							<img src="/images/image-jeremy.png" alt="Imagem do perfil" width="70px">
							<p class="legend">Report for</p>
							<h1>Jeremy Robson</h1>
						</div>
						<div class="options">
							<p class="mode">Daily</p>
							<p class="mode">Weekly</p>
							<p class="mode">Monthly</p>
						</div>
					</div>
					<div class="col-8" style="background-color: chocolate;">
						<div class="row row-cols-3 gy-5" style="background-color: transparent;">
							<div class="col">
								<div class="border">
									<div class="card">
										<!-- Colocando os três pontinhos de sub-menu -->
										<div class="card-options">
											<p class="title"><b>Work</b></p>
											<span class="sub-menu">...</span>
										</div>
										<p class="current">32hrs</p>
										<p class="previous">Last day - 7hrs</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="border">
									<div class="card">
										<p class="title">Work</p>
										<h3 class="current">5hrs</h3>
										<h4 class="previous">Last day - 7hrs</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="border">
									<div class="card">
										<p class="title">Work</p>
										<h3 class="current">5hrs</h3>
										<h4 class="previous">Last day - 7hrs</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="border">
									<div class="card">
										<p class="title">Work</p>
										<h3 class="current">5hrs</h3>
										<h4 class="previous">Last day - 7hrs</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="border">
									<div class="card">
										<p class="title">Work</p>
										<h3 class="current">5hrs</h3>
										<h4 class="previous">Last day - 7hrs</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="border">
									<div class="card">
										<p class="title">Work</p>
										<h3 class="current">5hrs</h3>
										<h4 class="previous">Last day - 7hrs</h4>
									</div>
								</div>
							</div>
						</div>
						
						<div style="display: none;">
							<% data.forEach(function(info){ %>
								<p class="title"> <%= info.title %> </p>
								<h3 class="current"><%= info.timeframes.daily.current %></h3>
								<h4 class="previous"><%= info.timeframes.daily.previous %></h4>
							<%}) %>
						</div>
					</div>
				</div>
				
			</div>
		</main>
		<footer></footer>
	</body>

</html>