<!doctype html>
<html lang="pt-br">

	<%- include('../partials/head') %>
	<body>
		<header></header>
		<main>

			<div class="container">
				<div class="row">a</div>
				<div class="row">b</div>
				<div class="row">c</div>
			</div>
			<img src="/images/image-jeremy.png">
		</main>
		<footer></footer>
	</body>

</html>