<!doctype html>
<html lang="pt-br">

	<%- include('../partials/head') %>
	<body>
		<header></header>
		<main>

			<div class="container borda">
				<div class="row">
					<div class="col-4" style="background-color: aqua;">
						<div class="profile">
							<img src="/images/image-jeremy.png" alt="Imagem do perfil">
							<p class="legend">Reported by</p>
							<h1>Jeremy Robson</h1>
						</div>
						<div class="options">
							<p>Daily</p>
							<p>Weekly</p>
							<p>Monthly</p>
						</div>
					</div>
					<div class="col-8" style="background-color: blueviolet;">b</div>
				</div>
				
			</div>
		</main>
		<footer></footer>
	</body>

</html>